.interest {
    border: 1px dotted crimson;
    padding: 1em;
    margin: 0.5em;
    flex-basis: 16%;
    text-align: center;
}

.bio__interests{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 1px solid black;
}